<div>
    <form [formGroup]="formGroup">
        
        <label for="name">Nombre: </label>
        <input formControlName="name"> 
        <br>

        <label for="email">Email:  </label>
        <input formControlName="email">
        <br>

        <label for="contraseña">Contraseña: </label>
        <input formControlName="password" type="password">
        <br>
        
        <label for="tel">Telefono: </label>
        <input formControlName="tel">
        <br>
        <br>
        <button (click) ="submit()" [disabled]="formGroup.invalid">Subir</button>
        <mat-slider min="1" max="100" step="1" value="50"></mat-slider>
    </form>
</div>

